
 <script id="country-template" type="text/x-handlebars-template">
      <div>
        <p>
          <span class="flag {{abbreviation}}"></span> {{country}} ({{abbreviation}})
        </p>
      </div>
</script>

<script id="data-template" type="text/x-handlebars-template">
      {{#each data}}
        {{> country}}
      {{/each}}
</script>