<script type='text/x-handlebars-template' id='country-template'>
  <div>
    <p {{flagWrapperClass north_america}}>
      <span class="flag {{abbreviation}}"></span> {{name}} {{abbreviation}}
    </p>
  </div>
</script>
